@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-primary: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-weight: 400;
}

.heading {
  font-size: 2.5rem;
  &.center {
    text-align: center;
  }
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
